@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
  /* *{
    padding: 30;
    margin: 15;
    box-sizing: border-box;
  }  */


.App {
  text-align: center;
  background-color:black;
  color: red;
   width: 100%; 
  min-height: 100vh;
   display: flex;


} 
.navebar{
  background: linear-gradient(0deg,red 10px,transparent);
  margin-left: 0%;
  margin-right: 300px;
}

.movielist{
display: flex;
align-items: center;
justify-content: center;


}


.moie-item{
 flex: 1 1 21rem; 
margin: 10px 20px;
background: black;
box-shadow: 3px 3px red, -1em 0 .4em rgb(240, 114, 10);
padding: -1px 14px;
/* display: flex; */
justify-content: center;


    
}
.imag-item{
  height: 400px;

}


